img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
}

.nav-link-colour {
    color: $accent;
}

.button {
    padding: 10px;
    max-width: fit-content;
    background-color: $accent;
    color: $black;
    font-family: $heading-font;
    font-size: 1rem;
    border: none;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: center;
    transition: 0.3s;
    text-transform: uppercase;
    margin: 0 auto;
    &:hover, &:focus {
        background-color: $black;
        color: $accent;
    }
}
/* .small-button {
    max-width: 200px;
}
.big-button {
    max-width: fit-content;
    margin: auto;
} */
.bottom-edge {
    line-height: 0.75;
}