// FOOTER
footer {
    background-color: $white-shade;
    .wrapper {
        padding: 100px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 40px;
        .footBox {
            flex-basis: 50%;
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            .icon-bg-color {
                color: $accent;
            }
            .icon-color {
                color: $black;
            }
        }
    }
    .copyright {
        background-color: $black;
        color: $white-shade;
        p {
            padding: 10px 0;
            text-align: center;
            margin-bottom: 0;
        }
    }
}