// Screen size 1140px
@media (max-width: 1140px) {
    .text-container {
        .text-circle {
            width: 20%;
        }
        h1 {
            font-size: 5rem;
        }
    }
}

// Screen size between 675px - 940px
@media (max-width: 940px) {
    // Header font-size
    .text-container h1 {
        font-size: 4rem;
    }
    // HOME PAGE
    .gallery-list {
        justify-content: space-between;
        li {
            flex-basis: calc( (100% / 2 ) - 25px);
            margin-bottom: 25px;
        }
    } 
    // CONTACT PAGE
    .contact-header h1 {
        font-size: 4rem;
    }
    .contact .wrapper {
        flex-direction: column-reverse;
    }
    .contact .contact-box {
        width: 100%;
        text-align: center;
        .social-icons {
            justify-content: center;
        }
    }
    .contact form {
        width: 100%;
        margin-bottom: 30px;
    }
    // BLOG & NEWS PAGE
    .blog-header h1 {
        font-size: 4rem;
    }
    .blog-news .wrapper {
        flex-direction: column;
    }
    .about-recent {
        margin-bottom: 50px;
        .about {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > div {
                flex-basis: calc( (100% / 2) - 20px);
            }
        }
    }
}

@media (max-width: 760px) {
    // HOME PAGE HEADER
    .home-header .wrapper {
        flex-direction: column;
        align-items: center;
        .text-container {
            flex-basis: 100%;
            justify-content: flex-start;
            .text-circle {
                margin-top: 0;
            }
            h1 {
            font-size: 3rem;
            }
        }
        .image-container {
            max-width: 100%;
        }
    }
    // FAVOURITE BUCKET SECTION
    .favourite-bucket .wrapper {
        flex-direction: column;
        text-align: center;
        .favourite-textbox {
            padding: 0;
        }
        .bucket-textbox {
            padding: 0;
            text-align-last: center;
        }
        img {
            width: 100%;
        }
    }
    // JOURNEY SECTION
    .journey {
        .wrapper {
        flex-direction: column;
        text-align: center;
        div:first-child {
            max-width: max-content;
            margin: 0 auto 50px;
            }
        div:last-child a {
            margin: auto;
            }
        }
    }   
    // FOOTER
    footer .wrapper {
        flex-direction: column;
    }
}

// Screensize at 675px
@media (max-width: 675px) {
    .nav-bar .wrapper {
        height: 80px;
        justify-content: space-between;
        .nav-links {
            height: 0;
            overflow: hidden;
            .logo {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .menu-toggle {
            height: auto;
            overflow: visible;
        }
    }
    // HOME PAGE
    .gallery-list {
        justify-content: space-between;

        li {
            flex-basis: 100%;
            margin-bottom: 25px;
            img {
                width: 100%;
            }
        }
    }

    // BLOG & NEWS PAGE | CONTACT PAGE
    .blog-header h1,
    .contact-header h1 {
        font-size: 2rem;
    }
    .blog-news .wrapper .about-recent .about {
        flex-direction: column;
    }
    .contact fieldset,
    .blog fieldset {
        flex-direction: column;
        width: 100%;
        > input {
            width: inherit;
            margin-bottom: 5px;
        }
    }
}