
// Screen size between 675px - 940px
@media (max-width: 940px) {
    // CONTACT PAGE
    .contact-header h1 {
        font-size: 4rem;
    }
    .contact .wrapper {
        flex-direction: column-reverse;
    }
    .contact .contact-box {
        width: 100%;
        text-align: center;
        .social-icons {
            justify-content: center;
        }
    }
    .contact form {
        width: 100%;
        margin-bottom: 30px;
    }
    // BLOG & NEWS PAGE
    .blog-header h1 {
        font-size: 4rem;
    }
    .blog-news .wrapper {
        flex-direction: column;
    }
    .about-recent {
        margin-bottom: 50px;
        .about {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > div {
                flex-basis: calc( (100% / 2) - 20px);
            }
        }
    }
}
// Screensize at 675px
@media (max-width: 675px) {
    .nav-bar .wrapper {
        height: 80px;
        .nav-links {
       height: 0;
       overflow: hidden;
       /* .logo {
        height: 80px;
        font-size: 2rem;
       } */
    } 
    }

    .blog-header h1,
    .contact-header h1 {
        font-size: 2rem;
    }

    .blog-news .wrapper .about-recent .about {
        flex-direction: column;
    }

    .contact fieldset,
    .blog fieldset {
        flex-direction: column;
        width: 100%;
        > input {
            width: inherit;
            margin-bottom: 5px;
        }
    }
}