// Skip Link
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $white-shade;
    color: $black;
    z-index: 10;
    &:focus {
        left: 0;
    }
}
// NAV-BAR
.nav-bar {
    position: sticky;
    top: 0;
    background-color: $pine;
    z-index: 10;
    .wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    ul {
        display: flex;
        align-items: center;
        column-gap: 30px;
        color: $white-shade;
        a {
            font-family: $body-font;
            letter-spacing: 1px;
        }
    } 
    .menu-toggle {
        height: 0;
        overflow: hidden;
    }
    .toggle-look {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: $white;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    .logo {
        font-size: 2rem;
        font-family: $heading-font;
    }
}

// Slide Out Nav
.slide-out-nav {
    background-color: $green-grey;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 675px;
    height: 100vh;
    padding: 35px 50px;
    transition: 0.75s;
    transform: translate(100%);
    nav {
        position: relative;
    }
}
.show-slide-nav {
    transform: translate(0);
}
.slide-menu {
    flex-direction: column;
    row-gap: 10px;
    a {
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: rgba($color: $white-shade, $alpha: 1);
        transition: 0.3s;
        &:hover, &:focus {
            color: rgba($color: $white-shade, $alpha: 0.5);
        }
    }
}