// Font Family
$heading-font: 'Abril Fatface', cursive;
$body-font: 'Montserrat', sans-serif;

// Font Sizes
$base-font-size: 1rem;

// Colours
$accent: rgb(228, 164, 54);
$green-grey: rgb(112 155 107);
$pine: rgb(52 82 49);
$black: rgb(31 31 31);
$white-shade:rgb(246 246 246);
$white: rgb(255, 255, 255);