html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  line-height: 1.6;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(31, 31, 31);
}

h1, h2, h3, h4 {
  font-family: "Abril Fatface", cursive;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2, h3, h4 {
  color: rgb(31, 31, 31);
}

h1 {
  color: rgb(246, 246, 246);
  font-size: 4rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

ul,
li,
a,
p,
input,
fieldset {
  margin: 0;
  padding: 0;
}

h3,
p {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.nav-link-colour {
  color: rgb(228, 164, 54);
}

.button {
  padding: 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: rgb(228, 164, 54);
  color: rgb(31, 31, 31);
  font-family: "Abril Fatface", cursive;
  font-size: 1rem;
  border: none;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  margin: 0 auto;
}
.button:hover, .button:focus {
  background-color: rgb(31, 31, 31);
  color: rgb(228, 164, 54);
}

.bottom-edge {
  line-height: 0.75;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: rgb(246, 246, 246);
  color: rgb(31, 31, 31);
  z-index: 10;
}
.skip-link:focus {
  left: 0;
}

.nav-bar {
  position: sticky;
  top: 0;
  background-color: rgb(52, 82, 49);
  z-index: 10;
}
.nav-bar .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  color: rgb(246, 246, 246);
}
.nav-bar ul a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
.nav-bar .menu-toggle {
  height: 0;
  overflow: hidden;
}
.nav-bar .toggle-look {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  cursor: pointer;
}
.nav-bar .logo {
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
}

.slide-out-nav {
  background-color: rgb(112, 155, 107);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 675px;
  height: 100vh;
  padding: 35px 50px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  -webkit-transform: translate(100%);
          transform: translate(100%);
}
.slide-out-nav nav {
  position: relative;
}

.show-slide-nav {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.slide-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.slide-menu a {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #f6f6f6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slide-menu a:hover, .slide-menu a:focus {
  color: rgba(246, 246, 246, 0.5);
}

header {
  background-color: rgb(52, 82, 49);
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
header .text-container {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
header .text-container .text-circle {
  max-width: 50%;
  margin-right: -10%;
  margin-top: -8%;
}
header h1 {
  font-size: 6rem;
}
header .image-container {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
  -webkit-box-shadow: 15px 15px rgb(255, 255, 255);
          box-shadow: 15px 15px rgb(255, 255, 255);
}

.contact-header {
  background-image: url(../assets/contact-image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contact-header .wrapper {
  height: inherit;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blog-header {
  background-image: url(../assets/blog-image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blog-header .wrapper {
  height: inherit;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.who-willow {
  text-align: center;
}
.who-willow .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.who-willow .wrapper p {
  margin: 40px 0px;
}

.favourite-bucket {
  position: relative;
}
.favourite-bucket .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.favourite-bucket .wrapper > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 50px;
}
.favourite-bucket .wrapper > div:last-child {
  margin-bottom: 0;
}
.favourite-bucket .home-image-2 {
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
  -webkit-box-shadow: 15px 15px 0 rgb(112, 155, 107), -100px 15px 0 rgb(112, 155, 107);
          box-shadow: 15px 15px 0 rgb(112, 155, 107), -100px 15px 0 rgb(112, 155, 107);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.favourite-bucket .favourite-textbox {
  padding: 100px 0 0 100px;
}
.favourite-bucket .favourite-textbox p {
  text-align: justify;
}
.favourite-bucket .bucket-textbox {
  padding-right: 100px;
  -moz-text-align-last: right;
       text-align-last: right;
}
.favourite-bucket .bucket-textbox p {
  text-align: justify;
}
.favourite-bucket .home-image-3 {
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-box-shadow: 15px 15px 0 rgb(52, 82, 49), 100px 15px 0 rgb(52, 82, 49);
          box-shadow: 15px 15px 0 rgb(52, 82, 49), 100px 15px 0 rgb(52, 82, 49);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.favourite-bucket,
.gallery {
  background-color: rgb(255, 255, 255);
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}
.journey .wrapper div:first-child {
  -webkit-box-shadow: 15px 15px rgb(112, 155, 107);
          box-shadow: 15px 15px rgb(112, 155, 107);
  height: 50%;
}
.journey .wrapper div:last-child {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.journey .wrapper div:last-child a {
  margin-left: 0;
}

.who-willow,
.journey {
  background-color: rgb(246, 246, 246);
  padding: 100px 0px;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}
.gallery-list li {
  -ms-flex-preferred-size: calc(33.3333333333% - 25px);
      flex-basis: calc(33.3333333333% - 25px);
}

.blog-news {
  background-color: rgb(246, 246, 246);
  padding: 100px 0px;
}
.blog-news .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-news .about-recent {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-news .about {
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-news .about img {
  width: 100%;
  margin-bottom: 25px;
}
.blog-news .about h4 {
  margin-bottom: 15px;
}
.blog-news .about a {
  color: rgb(112, 155, 107);
}
.blog-news .recent-posts h4 {
  margin-bottom: 15px;
}
.blog-news .recent-posts .recent-list {
  margin-left: 30px;
}
.blog-news .recent-posts .recent-list ul {
  list-style-type: disc;
}
.blog-news .blog {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}
.blog-news .blog .blog-post,
.blog-news .blog .comment-section {
  border-bottom: 4px solid rgb(112, 155, 107);
}

.comment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.comment-section .comment-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comment-section .comment-post .comment-image {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.comment-section .comment-post .comment {
  -ms-flex-preferred-size: 88%;
      flex-basis: 88%;
}

.blog-news article {
  background-color: rgb(255, 255, 255);
  padding: 25px;
}

.contact,
.blog-news {
  background-color: rgb(246, 246, 246);
  padding: 100px 0px;
}
.contact .wrapper,
.blog-news .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contact-box,
.blog-news .contact-box {
  background-color: rgb(255, 255, 255);
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .contact-box .social-icons,
.blog-news .contact-box .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: rgb(52, 82, 49);
}
.contact .contact-box .email,
.blog-news .contact-box .email {
  margin-bottom: 25px;
}
.contact .phone-address p,
.blog-news .phone-address p {
  margin-bottom: 0;
}
.contact form,
.blog-news form {
  -ms-flex-preferred-size: 67%;
      flex-basis: 67%;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.contact form .form-button,
.blog-news form .form-button {
  margin: 0;
  max-width: 100%;
}
.contact fieldset,
.blog-news fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
}
.contact fieldset > input,
.blog-news fieldset > input {
  width: calc(50% - 5px);
  height: 48px;
  padding: 0 20px;
}
.contact input,
.contact textarea,
.blog-news input,
.blog-news textarea {
  border: none;
  font-family: "Montserrat", sans-serif;
  color: rgb(31, 31, 31);
}
.contact textarea,
.blog-news textarea {
  padding: 20px;
}

footer {
  background-color: rgb(246, 246, 246);
}
footer .wrapper {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}
footer .icon-1::before {
  content: "\f03e";
}
footer .icon-2::before {
  content: "\f007";
}
footer .icon-3::before {
  content: "\e163";
}
footer .icon-4::before {
  content: "\f879";
}
footer .copyright {
  background-color: rgb(31, 31, 31);
  color: rgb(246, 246, 246);
}
footer .copyright p {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 0;
}

.footbox {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.footbox h3 {
  position: relative;
  padding-left: 115px;
}
.footbox h3::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  width: 80px;
  height: 80px;
  background-color: rgb(228, 164, 54);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: -10px;
}
.footbox p {
  padding-left: 115px;
}
.footbox .icon-bg-color {
  color: rgb(228, 164, 54);
}
.footbox .icon-color {
  color: rgb(31, 31, 31);
}

@media (max-width: 1140px) {
  .text-container .text-circle {
    width: 20%;
  }
  .text-container h1 {
    font-size: 5rem;
  }
}
@media (max-width: 940px) {
  .text-container h1 {
    font-size: 4rem;
  }

  .gallery-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery-list li {
    -ms-flex-preferred-size: calc(50% - 25px);
        flex-basis: calc(50% - 25px);
    margin-bottom: 25px;
  }

  .contact-header h1 {
    font-size: 4rem;
  }

  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contact .contact-box {
    width: 100%;
    text-align: center;
  }
  .contact .contact-box .social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact form {
    width: 100%;
    margin-bottom: 30px;
  }

  .blog-header h1 {
    font-size: 4rem;
  }

  .blog-news .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-recent {
    margin-bottom: 50px;
  }
  .about-recent .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-recent .about > div {
    -ms-flex-preferred-size: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
  }
}
@media (max-width: 760px) {
  .home-header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-header .wrapper .text-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .home-header .wrapper .text-container .text-circle {
    margin-top: 0;
  }
  .home-header .wrapper .text-container h1 {
    font-size: 3rem;
  }
  .home-header .wrapper .image-container {
    max-width: 100%;
  }

  .favourite-bucket .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .favourite-bucket .wrapper .favourite-textbox {
    padding: 0;
  }
  .favourite-bucket .wrapper .bucket-textbox {
    padding: 0;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .favourite-bucket .wrapper img {
    width: 100%;
  }

  .journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .journey .wrapper div:first-child {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto 50px;
  }
  .journey .wrapper div:last-child a {
    margin: auto;
  }

  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 675px) {
  .nav-bar .wrapper {
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-bar .wrapper .nav-links {
    height: 0;
    overflow: hidden;
  }
  .nav-bar .wrapper .nav-links .logo {
    position: absolute;
    left: 0;
    top: 0;
  }
  .nav-bar .wrapper .menu-toggle {
    height: auto;
    overflow: visible;
  }

  .gallery-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery-list li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 25px;
  }
  .gallery-list li img {
    width: 100%;
  }

  .blog-header h1,
.contact-header h1 {
    font-size: 2rem;
  }

  .blog-news .wrapper .about-recent .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact fieldset,
.blog fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contact fieldset > input,
.blog fieldset > input {
    width: inherit;
    margin-bottom: 5px;
  }
}