html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* @font-face {
    font-family: 'Abril Fatface', cursive;
    src: url();
} */
html {
  font-size: 125%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(31, 31, 31);
}

h1, h2, h3, h4 {
  font-family: "Abril Fatface", cursive;
  margin: 0;
  letter-spacing: 1px;
}

h2, h3, h4 {
  color: rgb(31, 31, 31);
}

h1 {
  color: rgb(246, 246, 246);
  font-size: 4rem;
  line-height: 1.6;
}

h2 {
  font-size: 2.1rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.button {
  background-color: rgb(228, 164, 54);
  color: rgb(31, 31, 31);
  font-family: "Abril Fatface", cursive;
  font-size: 1rem;
  border: none;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover, .button:focus {
  background-color: rgb(31, 31, 31);
  color: rgb(228, 164, 54);
}

.small-button {
  padding: 15px 20px;
}

.big-button {
  padding: 15px 25px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: rgb(246, 246, 246);
  color: rgb(31, 31, 31);
  z-index: 10;
}
.skip-link:focus {
  left: 0;
}

.nav-bar {
  position: sticky;
  top: 0;
  background-color: rgb(52, 82, 49);
}
.nav-bar .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.nav-bar ul a {
  font-family: "Montserrat", sans-serif;
  color: rgb(246, 246, 246);
  letter-spacing: 1px;
}
.nav-bar input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.nav-bar input[type=checkbox]:checked ~ .slide-out-nav {
  right: 0;
}
.nav-bar label {
  position: absolute;
  right: 0;
  color: rgb(246, 246, 246);
  font-size: 1.5rem;
}
.nav-bar label:hover {
  cursor: pointer;
}
.nav-bar .logo {
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
}

.slide-out-nav {
  background-color: rgb(112, 155, 107);
  height: 100vh;
  position: fixed;
  top: 0;
  right: -506px;
  width: 100%;
  max-width: 506px;
  padding: 35px 50px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.slide-out-nav label {
  position: relative;
  top: 0;
  right: 0;
}
.slide-out-nav .close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slide-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.slide-menu a {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #f6f6f6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slide-menu a:hover, .slide-menu a:focus {
  color: rgba(246, 246, 246, 0.5);
}

header {
  background-color: rgb(52, 82, 49);
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
header .text-container {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header h1 {
  font-size: 6rem;
}
header .image-container {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.about {
  text-align: center;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .wrapper p {
  margin: 40px 0px;
}

.favourite-bucket .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.favourite-bucket .wrapper > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.favourite-bucket,
.gallery {
  background-color: rgb(255, 255, 255);
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.journey .wrapper :first-child {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.journey .wrapper :last-child {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.journey .wrapper :last-child a {
  margin-left: 0;
}

.about,
.journey {
  background-color: rgb(246, 246, 246);
  padding: 100px 0px;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

footer {
  background-color: rgb(246, 246, 246);
}
footer .wrapper {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .wrapper .footBox {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
footer .wrapper .footBox .icon-bg-color {
  color: rgb(228, 164, 54);
}
footer .wrapper .footBox .icon-color {
  color: rgb(31, 31, 31);
}
footer .copyright {
  background-color: rgb(31, 31, 31);
  color: rgb(246, 246, 246);
}
footer .copyright p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}